######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes


# Directories #
/build/
/bin/
target/
 
# OS Files #
.DS_Store
 
*.class
 

bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath


